* {
    margin: 0;
    padding: 0;
}

.map {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    gap: 25px;
}

.map > div {
    border: 1px solid black;
}


.ui {
    display: flex;
    justify-content: center;  
}