* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.map {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin-top: 5vh;
}

.area {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.ui {
    display: flex;
    justify-content: center;  
}